<meta charset="utf-8">
<div class="col-md-12">
    <div class="well bs-component"> 
        <form class="form-horizontal" ng-submit="users.addUser(user)">
            <fieldset>
                <legend>Novo usuário</legend>
                <div class="form-group">
                    <label for="nome" class="col-lg-2 control-label">Nome</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="user.name" class="form-control" id="nome" placeholder="Nome">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dataNascimento" class="col-lg-2 control-label">Data de nascimento</label>
                    <div class="col-lg-10">
                        <input type="date" ng-model="user.birth" class="form-control" id="dataNascimento" placeholder="Data de Nascimento">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="senha" class="col-lg-2 control-label">Senha</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="user.password" class="form-control" id="senha" placeholder="Senha">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary btn-flat" ><i class="mdi-navigation-check"></i>Salvar</button>
                        <button type="reset" class="btn btn-default btn-flat"><i class="mdi-navigation-close"></i> Cancelar</button>    
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>