<meta charset="utf-8">
<div class="col-md-12">
    <div class="well bs-component"> 
        <form class="form-horizontal" ng-submit="series.updSerie(serie)">
            <fieldset>
                <legend>Adicionar Episódios</legend>
                <div class="form-group">
                    <label for="date" class="col-lg-2 control-label">Episódios</label>
                    <div class="col-lg-10">
						<select multiple="multiple" class="form-control" id="select" ng-model="serie.episodes">
		                    <option ng-repeat="episode in series.episode">{{episode.name}}</option>
		                </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary btn-flat" ><i class="mdi-navigation-check"></i>Salvar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>